<p>
	by 
	<strong>
	<% if(metaauthor.firstname && metaauthor.lastname){
			%><a href="/author/<%= metaauthor.username %>"><%= metaauthor.firstname %>  <%= metaauthor.lastname %></a> <%
		}
		else{
			%><a href="/author/<%= metaauthor.username %>"><%= metaauthor.username %></a> <%
		} %>
	</strong> 
	&#8212; Posted 	
	<% if(item.categories && item.categories.length >0){
		%> in <%
			for(var x = 0; x < item.categories.length; x++){
				%>
				<strong><a href="/section/<%- item.categories[x].name %>"><%- item.categories[x].title %></a></strong><% if(x === item.categories.length-2){%> &<%}else{%>,<%}%> 
				<%
			}
		} %>
	on 
	<strong>
	<%
	if(metadate){
			var d = new Date(metadate);
			%> <%= (d.getMonth()+1) %>/<%= d.getDate() %>/<%= d.getFullYear() %> <%
	}
	%>
	</strong>
</p>
